<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço US$</th>
      <th scope="col">Opções>
      </tr>
    </thead>
    <tbody>
      <% @tracked_stocks.each do |stock| %>
        <tr>
          <td> <%= stock.ticker %> </td>
          <td> <%= stock.name %> </td>
          <td> <%= stock.last_price %> </td>
          <td>@mdo</td>
        </tr>
      <% end %>
    </tbody>
  </table>
